.Section-6 {
  width: 100%;

  display: flex;

  background: #dbe6fd;
}
.left-section {
  flex-basis: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-section h2 {
  font-size: 30px;
  font-weight: 400;
}
.left-section p {
  width: 70%;
  line-height: 30px;
  font-weight: 100;
  text-align: left;
  color: black;
  margin: 20px auto;
}
.right-section {
  flex-basis: 50%;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 20px;
}
.form {
  margin-top: 50px;
}
.form h5 {
  text-align: left;
  margin-left: 20px;
  font-weight: 500;
  font-size: 20px;
  opacity: 0.7;
}
.grid-content {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}

.grid-content input {
  width: 250px;
  height: 25px;
  border: none;
  text-align: left;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
}
.grid-content textarea {
  text-align: left;
  padding: 10px;
  width: 100%;
  margin: 20px;
  grid: 1/-1;
}
.grid-content .Message {
  width: 400px;
  grid: 1/-1;
  align-items: start;
  height: 100px;
}
.btn {
  width: 120px;
  margin: 20px;
  position: relative;
  left: -40%;
  font-size: 14px;
  border-radius: 20px;
}
