.section-5 {
  display: flex;
  height: 60vh;
  margin-top: 20px;
}
.left-portion {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-portion p {
  width: 90%;
  word-break: 20px;
  text-align: left;
  font-size: 19px;
  line-height: 30px;
  font-weight: 100;
  opacity: 0.6;
}
/* denny-46992fa2603b3da7082eca689dcb1423 1 */
.right-portion {
  overflow: hidden;
}
.right-portion img {
  width: 400px;
}
